@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Shadows Into Light", cursive;
    min-height: 100vh;
    background: linear-gradient(135deg, #000000, #0d1521, #070e18);
    color: white;
}

.container {
    padding: 10px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-section {
    width: 100%;
    max-width: 1000px;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.title {
    color: white;
    font-size: 45px;
    margin: 0;
}

.form-block {
    width: 100%;
    max-width: 320px;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 10px;
}

.control-field {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2px;
}

.form-label {
    color: white;
    font-size: 20px;

}

.form-control {
    height: 38px;
    padding: 0 5px;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
    background-color: rgb(190, 201, 252);
    border: none;
    border-radius: 4px;
}

.form-control:focus-visible{
    outline: 1px solid white;
}

.form-control--email {
    text-transform: initial;
}

.btn {
    height: 40px;
    border: none;
    border-radius: 4px;
    color: rgb(37, 40, 223);
    font-weight: 700;
    text-transform: capitalize;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover{
    opacity: 0.9;
}

.submit-btn {
    margin: 5px 0 0 0;
    background-color: #020202;
}

.users-container{
    margin: 0 auto;
    padding: 20px 0 50px 0;
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}